.header {
	background-color: blue;
	padding: 1rem;
	text-align: center;
	color: white;
}

.contents {
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 100px;
}

.aside {
	padding: 2rem;
}

.user {
	padding: 2rem;
}

h2 {
	margin-bottom: 1.5rem;
	border-bottom: 1px solid gray;
}
